@model User_Authentication.Models.ProductViewModels.ProductList
@using User_Authentication.Models;

@{
    ViewData["Title"] = "Product Listing";
}
<h2>@ViewData["Title"]</h2>

@foreach (Product item in Model.Products)

{
    <div class="row productRow">
        <div class="col-md-6"><a asp-action="Detail" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a></div>
        <div class="col-md-2">$@Html.DisplayFor(modelItem => item.Price)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="col-md-2">
        </div>
    </div>
}
