@using Microsoft.AspNetCore.Identity
@using User_Authentication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))

{
    <ul class="nav navbar-nav">

        <li><a asp-area="" asp-controller="Products" asp-action="Create">Sell a Product</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="Types">Product Types </a></li>
    </ul>
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Order" asp-action="Cart" title="Manage">Hello @UserManager.GetUserName(User)! <span class="glyphicon glyphicon-shopping-cart"></span></a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
